.contents{
	border:1px solid black;
	 width:700px;
	
	 padding: 20px;
  margin-left: 10px;
   background-color:  #f2f2f2;
  

}

#form{
  display: relative;
}

input { 

	margin-bottom: 30px;
    width:300px;
    height: 24px;
    margin-left: 10px;

 }
 

 form  { display: table;      }
 label { display: table-cell; }
 p     { display: table-row;  }
 input { display: table-cell; }




 .header{

 	/*border:1px solid black; */
 	width:400px;
 	
 	margin-left: 10px;

 }
 #text-comments{
 	margin-left: 10px;
 }

 #submit{
 	margin-left: 50px;
 }



.button {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #ff3333, #ff3333);
  background-image: -moz-linear-gradient(top, #ff3333, #ff3333);
  background-image: -ms-linear-gradient(top, #ff3333, #ff3333);
  background-image: -o-linear-gradient(top, #ff3333, #ff3333);
  background-image: linear-gradient(to bottom, #ff3333, #ff3333);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding:10;
  text-decoration: none;
  height: 40px;
  
}

#button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

